<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="displayMode" value="show" />
    <!--***Mögliche Eingabeparameter siehe Kommentar***-->
    <add key="timerInterrupt" value="3" />
    <!--***Mögliche Eingabeparameter siehe Kommentar***-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
<!--
       Auswahl für den Parameter - displayMode:
       Der Parameter gibt an, wie das Programm beim Start für den Anwender angezeigt wird.     
      (1) "show" : Die Konsole wird beim Start des Programms angezeigt.
      (2) "minimize": Die Konsole wird beim Start automatisch in die Taskleiste minimiert.
      (3) "hide": Die Konsole wird beim Start automatisch ausgeblendet und ist auch nicht über 
                  die Taskleiste zu erreichen. Die Anwendung kann nur durch 
                  Aufruf des Taskmanager > Prozesse > conhost.exe (Host für Konsolenfenster) beendet werden.
       HINWEIS: Wenn ein falsch Eingabeparameter verwendet wird, startet die Anwendung immer im "show" - Modus.
       
       Auswahl für den Parameter - timerInterrupt:
       - Die eingegebene Zahl gibt an, aller wieviel Sekunden der Mauszeiger nach Inaktivität bewegt werden soll.
       - Es können ganzahlige Werte im Bereich von 0...600 eingegeben werden.
       - Der Wert entspricht der SI-Einheit [s].
       HINWEIS: Wird ein falscher Parameter eingegeben, wird standardmäßig der Wert 30 verwendet.
      -->