<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="displayMode" value ="hide"/> <!--***Mögliche Eingabeparameter siehe Kommentar***-->
    </appSettings>
</configuration>

<!--
       Mögliche Eingabeparameter für den Anzeigemodus:
      (1) "show" : Die Konsole wird beim Start des Programms angezeigt.
      (2) "minimize": Die Konsole wird beim Start automatisch in die Taskleiste minimiert.
      (3) "hide": Die Konsole wird beim Start automatisch ausgeblendet und ist auch  nicht über 
                  die Taskleiste zu erreichen. Die Anwendung kann nur durch 
                  Aufruf des Taskmanager > Prozesse > conhost.exe (Host für Konsolenfenster) beendet werden.
       HINWEIS: Wenn eine falsche Eingabeparameter verwendet wird, startet die Anwendung immer im "show" - Modus
      -->